<!DOCTYPE html>
<html>
	<body>
		{{if .RecentProjects}}
		<span class="sectionHeader">
			<div class="important">projects</div>
			<input id="searchBox" style="right:15em;top:0.45em" type="text" placeholder="search..." />
			<button style="right:19.25em">
				<span class="icon" style="padding-left:0.6em">&#xe313;</span>
				<span>Add</span>
			</button>
			<button class="important" style="right:18em">
				<span class="icon" style="padding-left:0.6em">&#xe145;</span>
				<span>New</span>
			</button>
		</span>
		<div class="tableHeader">
			<span style="left:2%" class="verticalSection">
				<div class="verticalDivider"></div>
				<div>Name</div>
			</span>
			<span style="right:40%" class="verticalSection">
				<div class="verticalDivider"></div>
				<div>Modified</div>
			</span>
		</div>
		<div class="tableContent">
			{{range .RecentProjects}}
			<div class="tableSection" style="height:3.5em">
				<button style="width:55%" class="column tableSectionButton" onclick="openRecentProject" target="{{.Path}}">
					<span class="important">{{.Name}}</span>
					<span class="silent">{{.Path}}</span>
				</button>
				<div class="column" style="right:80.5%">
					<span class="important">{{.Modified}}</span>
					<span class="silent">{{.Time}}</span>
				</div>
				<div class="row" style="right:75%">
					<button class="icon" style="font-size:1.4em">&#xe5d3</button>
				</div>
			</div>
			{{end}}
		</div>
		{{else}}
		<span class="sectionHeader">
			<div class="important">projects</div>
			<button style="right:19.25em">
				<span class="icon" style="padding-left:0.6em">&#xe313;</span>
				<span>Add</span>
			</button>
			<button class="important" style="right:18em">
				<span class="icon" style="padding-left:0.6em">&#xe145;</span>
				<span>New</span>
			</button>
		</span>
		{{end}}
	</body>
</html>